/* Sidebar.css */
.app-sidebar {
    width: 30%;
    height: 100vh;
    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
  }
  
  .app-sidebar-header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .create-notes-group-button{
    padding: 6px 25px;
    padding-bottom: 7.5px;
    align-self: center;
    color: white;
    border-radius: 50px;
    background-color: #000000;
    font-size: 18px;
    font-weight: 500;
  }
  .create-notes-group-button:hover{
    color: white;
  }
  
  .sideheading {
    font-size: 28px;
    font-weight: 700;
    margin-left: 25px;
  }
  
  .app-sidebar-notes {
    flex: 1;
    overflow-y: auto;
    margin-left: 25px;
  }
  
  .app-sidebar-note {
    cursor: pointer;
  }
  
  .app-sidebar-note:hover {
    background-color: #F7ECDC;
    border-radius: 32px 0 0 32px;

  }
  
  .app-sidebar-note.active {
    background-color: #F7ECDC;
    border-radius: 32px 0 0 32px;

  }
  
  .sidebar-note-title {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

  }
  .side-title-and-del{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .deletebtn{
    cursor: pointer;
    font-size: 30px;
    color: red;
  }
  
  .sidebar-note-title strong {
    font-weight: 600;
    font-size: 14px;
  }
  

  
  .sidebar-note-title button:hover {
    color: #000;
  }
  
  .note-meta {
    font-size: 12px;
    color: #aaa;
  }
  
  .note-initials-container{
    width: 30%;
  }
  .note-initials {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #b3e5fc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
  }




